<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Reservierungsänderung</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header>
<h1>Reservierung Ändern</h1>
</header>

<br>

<section id="Aenderung">
    <h2>Reservierung ändern</h2>
    <form method="post" th:action="@{/admin/reservierungAendern}">
        <button>Ändern</button>
    </form>
</section>

<br>

<section id="Adminseite">
    <form method="get" th:action="@{/admin/adminseite}">
        <button type="submit" class="btn btn-primary">Adminseite</button>
    </form>
</section>

</body>
</html>